{{- if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
    name: {{ include "elasticmq.fullname" . }}
    namespace: {{ .Values.namespace }}
    labels:
      {{- include "elasticmq.labels" . | nindent 4 }}
spec:
    replicas: {{ .Values.replicaCount }}
    selector:
      matchLabels:
        {{- include "elasticmq.selectorLabels" . | nindent 6 }}
    template:
      metadata:
        labels:
          {{- include "elasticmq.selectorLabels" . | nindent 8 }}
      spec:
        containers:
          - name: elasticmq
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
            imagePullPolicy: {{ .Values.image.pullPolicy }}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              runAsNonRoot: true
              runAsUser: 1000
              capabilities:
                drop:
                  - ALL
            ports:
              - containerPort: 9324
                name: http
                protocol: TCP
              - containerPort: 9325
                name: ui
                protocol: TCP
            env:
              - name: ELASTICMQ_OPTS
                value: "-Dconfig.file=/opt/elasticmq.conf"
            volumeMounts:
              - name: config
                mountPath: /opt/elasticmq.conf
                subPath: elasticmq.conf
            resources:
              {{- toYaml .Values.resources | nindent 12 }}
            livenessProbe:
              httpGet:
                path: /
                port: 9325
              initialDelaySeconds: 30
              periodSeconds: 10
            readinessProbe:
              httpGet:
                path: /
                port: 9325
              initialDelaySeconds: 5
              periodSeconds: 5
        volumes:
          - name: config
            configMap:
              name: {{ include "elasticmq.fullname" . }}-config
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
          fsGroup: 1000
{{- end }}