# Default values for ElasticMQ
enabled: true

replicaCount: 1

image:
    repository: softwaremill/elasticmq
    tag: "1.5.7"
    pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

namespace: platform-dev

service:
    type: ClusterIP
    port: 9324
    uiPort: 9325

resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 256Mi

config: |
    include classpath("application.conf")

    node-address {
      protocol = http
      host = "*"
      port = 9324
      context-path = ""
    }

    rest-sqs {
      enabled = true
      bind-port = 9324
      bind-hostname = "0.0.0.0"
      sqs-limits = strict
    }

    rest-stats {
      enabled = true
      bind-port = 9325
      bind-hostname = "0.0.0.0"
    }

    queues {
      default {
        defaultVisibilityTimeout = 10 seconds
        delay = 5 seconds
        receiveMessageWait = 0 seconds
      }
    }
